* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
body {
  justify-content: center;
  min-height: 100%;
  background: #000000;
  /* overflow: hidden; */
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

  /* overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; */
}
.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.slide {
  scroll-snap-align: center;
  height: 100%;
  max-width: 100%;
}

#myName p {
  width: 100%;
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 3vw;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: left;
}

#introText {
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
}

#introText p {
  font-size: 4vw;
  text-align: center;
}

#arrowDown svg {
  display: block;
  width: 10%;
  margin: 0 auto;
  position: absolute;
  bottom: 5%;
  left: 45%;
}

#arrowDown svg #vertical-line {
  display: none;
}

#portrait_image {
  display: block;
  background-image: url("images/my_image.jpeg");
  background-position: center;
  background-size: 50%;
  width: 37.5vw;
  min-height: 40vw;
  margin: 0 auto;
  margin-top: 40px;
}

#short_about {
  width: 100%;
  font-size: 3vw;
  text-align: left;
  margin-top: 40px;
}

.school_projects {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  background-color: green;
}

.project_slider {
  display: block;
  scroll-snap-align: center;
  height: 90%;
  min-width: 100%;
  background-color: red;
}
/* text-shadow: 0px 0px 40px #ffff00; */
